# api config
PORT=4000
API_URL=
ALLOWED_ORIGINS=http://localhost:5173
MAX_DAYS_EXPIRATION_WARNING=7

# supabase config
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_ANON_KEY=

# firebase configuration
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=